/*
--y-in-mn-blue: hsla(213, 36%, 32%, 1);
--chinese-violet: hsla(276, 16%, 41%, 1);
--spanish-pink: hsla(4, 92%, 85%, 1);
--pewter-blue: hsla(205, 22%, 61%, 1);
--nyanza: hsla(84, 100%, 94%, 1);

$y-in-mn-blue: #355070ff;
$chinese-violet: #6d597aff;
$spanish-pink: #fcbcb8ff;
$pewter-blue: #87a0b2ff;
$nyanza: #f3ffe1ff;

$y-in-mn-blue: hsla(213, 36%, 32%, 1);
$chinese-violet: hsla(276, 16%, 41%, 1);
$spanish-pink: hsla(4, 92%, 85%, 1);
$pewter-blue: hsla(205, 22%, 61%, 1);
$nyanza: hsla(84, 100%, 94%, 1);

$y-in-mn-blue: rgba(53, 80, 112, 1);
$chinese-violet: rgba(109, 89, 122, 1);
$spanish-pink: rgba(252, 188, 184, 1);
$pewter-blue: rgba(135, 160, 178, 1);
$nyanza: rgba(243, 255, 225, 1);

$gradient-top: linear-gradient(0deg, #355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
$gradient-right: linear-gradient(90deg, #355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
$gradient-bottom: linear-gradient(180deg, #355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
$gradient-left: linear-gradient(270deg, #355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
$gradient-top-right: linear-gradient(45deg, #355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
$gradient-bottom-right: linear-gradient(135deg, #355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
$gradient-top-left: linear-gradient(225deg, #355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
$gradient-bottom-left: linear-gradient(315deg, #355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
$gradient-radial: radial-gradient(#355070ff, #6d597aff, #fcbcb8ff, #87a0b2ff, #f3ffe1ff);
*/
